<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive House Rent Website</title>
    <!-- LInk To CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Box Icons -->
    <link rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
</head>
<body>
    <style>
        .header1 a{
        
            text-decoration: none;
            color:blueviolet;
            
        
            
        }
    </style>
    <div class="header">
    <h1 style="text-align: center; color: red;">CS RENTAL HOUSE 
</h1>
<button style="float: right;"><a href="/">BACK TO HOME</a></button>
    </div>
    <br>
    <div class="header1" style="text-align: center;">
      <h2 ><a href="#pec">PANIMALAR ENGINEERING COLLEGE</a></h2>
      <h2 ><a href="#pit">PANIMALAR INSTITUTE OF TECHNOLOGY</a></h2>
      <h2><a href="#mec">MEENAKSHI ENGINEERING COLLEGE</a></h2></div>
    
<div class="properties-container container">
            <h1 id="pec">PANIMALAR ENGINEERING COLLEGE
                <br>
                (reach by 10 mins)
            </h1>
            <!-- Box 1 -->
            <div class="box">
                <img src="img/p1.jpg" alt="">
                <h3>rs.10,000</h3>
                <div class="content">
                    <div class="text">
                        <h3>No 53,Sabapathi Street</h3>
                         <h3>Annai nager,Thirumazhsai</h3>
                         <h3>phone.no:9734568902</h3>
                        <p>Chennai,Tamil Nadu</p>
                    </div>
                    <div class="icon">
                        <i class='bx bx-bed' ><span>2</span></i>
                        <i class='bx bx-bath' ><span>1</span></i>
                    </div>
                </div>
            </div>
            <!-- Box 2 -->
            <div class="box">
                <img src="img/p2.jpg" alt="">
                <h3>?15,000</h3>
                <div class="content">
                    <div class="text">
                        <h3>No 20,Anna Street,Kattupakkam</h3>
                        <h3>phone.no:9786432109</h3>
                        <p>Chennai,Tamil Nadu</p>
                    </div>
                    <div class="icon">
                        <i class='bx bx-bed' ><span>3</span></i>
                        <i class='bx bx-bath' ><span>2</span></i>
                    </div>
                </div>
            </div>
           <h1 id="pit">PANIMALAR INSTITUTE OF TECHNOLOGY
            <br>
            (reach by 15 mins)
           </h1>
            <!-- Box 3 -->
            <div class="box">
                <img src="img/p3.jpg" alt="">
                <h3>rs.12,000</h3>
                <div class="content">
                    <div class="text">
                        <h3>No 101,kamarajar salai,Iyyappanthangal</h3>
                        <h3>phone.no:8765434609</h3>
                        <p>Chennai,TamilNadu</p>
                    </div>
                    <div class="icon">
                        <i class='bx bx-bed' ><span>2</span></i>
                        <i class='bx bx-bath' ><span>1</span></i>
                    </div>
                </div>
            </div>
            <!-- Box 4 -->
            <div class="box">
                <img src="img/p4.jpg" alt="">
                <h3>rs.10,500</h3>
                <div class="content">
                    <div class="text">
                        <h3>No 33,Thirumazhsai</h3>
                        <h3>phone.no:8765432145</h3>
                        <p>Chennai,Tamilnadu</p>
                    </div>
                    <div class="icon">
                        <i class='bx bx-bed' ><span>1</span></i>
                        <i class='bx bx-bath' ><span>1</span></i>
                    </div>
                </div>
            </div>


            <h1 id="mec">MEENAKSHI COLLEGE OF ENGINEETING
                <br>
                (reach by 10 mins)
            </h1>
            <!-- Box 5 -->
            <div class="box">
                <img src="img/p5.jpg" alt="">
                <h3>rs.12,999</h3>
                <div class="content">
                    <div class="text">
                        <h3>No 8/2,vijayaragava puram</h3>
                        <h3>phone.no:7654321098</h3>
                        <p>Chennai,Tamilnadu</p>
                    </div>
                    <div class="icon">
                        <i class='bx bx-bed' ><span>2</span></i>
                        <i class='bx bx-bath' ><span>1</span></i>
                    </div>
                </div>
            </div>
            <!-- Box 6 -->
            <div class="box">
                <img src="img/p6.jpg" alt="">
                <h3>rs.15,000</h3>
                <div class="content">
                    <div class="text">
                        <h3>No 223,Saligrammam</h3>
                        <h3>phone.no:8765432109</h3>
                        <p>Chennai,Tamilnadu</p>
                    </div>
                    <div class="icon">
                        <i class='bx bx-bed' ><span>3</span></i>
                        <i class='bx bx-bath' ><span>2</span></i>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <h1 style="text-align: center;">FOR MORE DETAILS CONTACT THE OWNER OF THE HOUSE</h1>
    <h1 style="text-align: center;"> THANKS FOR VISITING</h1>
</body>
</html>